/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#chatContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
}

.message {
  background-color: #444;
  color: #e0e0e0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

#inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #444;
  color: #fff;
  margin-right: 10px;
}

#sendButton {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#sendButton:hover {
  background-color: #0056b3;
}

#uploadButton {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

#uploadButton:hover {
  background-color: #218838;
}

/* Button container */
#buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

#buttons button {
  background-color: #444;
  color: #e0e0e0;
  border: 1px solid #555;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

#buttons button:hover {
  background-color: #555;
}

/* Offline message */
.offline-image-container {
  display: none;
  color: #ff6b6b;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.dark-mode {
  background-color: #181818;
  color: #e0e0e0;
}

/* Responsive Design */
@media (max-width: 768px) {
  #app {
    flex-direction: column;
    height: auto;
  }

  #buttons {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
